@media all and (min-width: 480px) {
    .Buscador {
        padding: 10px;
    }
  
    .Buscador form {
      margin: 0 auto;
    }

    #deporte, #ciudad{
        max-width: 200px;
    }

    #btnRanking{
        max-width: 250px;
        max-height: 60px;
        margin: 35px;
    }
  }